body{
background: linear-gradient(
135deg,
#c7e7ff,
#f7c6e9,
#ffe1b5
);

min-height:100vh;
font-family:'Poppins',sans-serif;
}

.profile-card{
text-align:center;
}

.profile-img{
width:180px;
height:180px;
border-radius:50%;
border:6px solid white;
box-shadow:0 0 20px rgba(0,0,0,.15);
}

h1{
font-weight:800;
color:#222;
}

h2{
color:#ff6f91;
font-weight:700;
}

.register-btn{
background:#ff7b6b;
color:white;
width:100%;
border-radius:30px;
}

.whatsapp-btn{
background:#25D366;
color:white;
width:100%;
}

.feature-box{
background:white;
padding:20px;
border-radius:20px;
height:100%;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.social-btn{
display:block;
padding:15px;
margin-top:10px;
border-radius:15px;
text-decoration:none;
color:white;
font-weight:bold;
}

.tiktok{
background:#191970;
}

.facebook{
background:#1877F2;
}

.whatsapp{
background:#25D366;
}